Source: dhcpcanon
Maintainer: ju xor <ju@riseup.net>
Section: net
Priority: optional
Build-Depends: adduser,
               debhelper,
               dh-apparmor,
               dh-python,
               dh-systemd,
               pkg-config,
               python3-sphinx,
               python3,
               python3-all,
               python3-attr (>= 0.16.3),
               python3-netaddr (>= 0.7),
               python3-docutils,
               python3-setuptools,
               python3-pip (>= 8.1),
               python3-pyroute2 (>= 0.4),
               python3-pytest,
               python3-scapy (>= 0.21),
Standards-Version: 4.0.0
Homepage: https://github.com/juga0/dhcpcanon
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/dhcpcanon.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/dhcpcanon.git

Package: dhcpcanon
Architecture: all
Depends: ${sphinxdoc:Depends}, ${misc:Depends}, ${python3:Depends},
         adduser,
         macchanger,
         python3-attr (>= 0.16.3),
         python3-netaddr (>= 0.7),
         python3-pip (>= 8.1),
         python3-pyroute2 (>= 0.4),
         python3-scapy (>= 0.21),
Suggests: apparmor,
Provides: dhcp-client,
Description: DCHP IPv4 client anonymity profile implementation
 DCHP client implementation of the anonymity profile (RFC7844)
 using Scapy Automaton.
